.news-p{
    color: black;
    font-weight: 600;
    font-size: 18px;
}
.news-cover-img{
    border-radius: 15px;
    width: 50% ;
    height: 600px;
    object-fit: fill;
}

@media only screen and (max-width: 600px) {
    .news-cover-img{
        border-radius: 15px;
        width: 100% ;
        height: auto;
        object-fit: cover;
    }
    .breadcrumbs{
        margin-top: 0px;
    }
  }